.page {
    max-inline-size: 1600px;
    padding: 40px 60px;
    margin: auto;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(122, 114, 114);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    inline-size: 100%;
    padding-inline-end: 20px;
}
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

@media screen and (680px >= width) {
    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.header__logo {
    inline-size: 140px;
}

.header__menu-list {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: max-content;
    gap: 13px;
}

@media screen and (680px >= width) {
    .header__menu-list {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat(5, max-content);
        gap: 13px;
    }
}

.link {
    list-style: none;
    text-decoration: none;
    color: rgb(122, 114, 114);
    font-weight: 400;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    color: rgb(61, 57, 57);
}

.content {
    padding: 20px 0;
    inline-size: 100%;
}

.content__title {
    margin: 30px 0;
    font-size: clamp(1.5rem, 1.0465rem + 1.9349vw, 2.875rem);
}
.title {
    font-family: "Raleway";
    font-weight: 700;
    color: black;
}

.content__list {
    inline-size: 100%;
    max-block-size: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
}

.content__item { 
    inline-size: 100%;
    max-block-size: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.content__item:not(:nth-of-type(4)):not(:last-child)::before {
    content: '';
    display: block;
    padding-top: 56%; 
}

.content__item>.content__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content__link {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.content__item:nth-of-type(4) {
    grid-column: span 2;
}

.content__item:last-of-type {
    grid-column: span 2;
}

.content__item:nth-child(1) {
    background-image: url(./images/project-1.jpg);
}
.content__item:nth-child(2) {
    background-image: url(./images/project-2.jpg);
}
.content__item:nth-child(3) {
    background-image: url(./images/project-3.jpg);
}
.content__item:nth-child(4) {
    background-image: url(./images/project-4.jpg);
}
.content__item:nth-child(5) {
    background-image: url(./images/project-5.jpg);
}
.content__item:nth-child(6) {
    background-image: url(./images/project-6.jpg);
}
.content__item:nth-child(7) {
    background-image: url(./images/project-7.jpg);
}

.content__image-overlay {
    position: absolute;
    inline-size: 100%;
    max-block-size: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-color: #000000;
    z-index: 1;
}

.content__image-overlay:hover {
    opacity: 0.2;
}

.content__image-title {
    color: rgb(247, 248, 248);
    font-size: clamp(1.25rem, 1.0439rem + 0.8795vw, 1.875rem);
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 4;
}

.content__image-title_size_m {
    font-size: clamp(1.375rem, 1.1689rem + 0.8795vw, 2rem);
}

.content__image-title_size_s {
    font-size: clamp(1.25rem, 0.9202rem + 1.4072vw, 2.25rem);
}

@media screen and (max-width: 1100px) {
    .content__list {
        grid-template-columns: 1fr 1fr;
    }
    .content__item:nth-of-type(4) {
        grid-column: span 1;
    }
    
    .content__item:last-of-type {
        grid-column: span 1; 
    } 
}

@media screen and (max-width: 680px) {
    .content__list {
        grid-template-columns: 1fr ;
    }
}

.footer {
    inline-size: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 13px;
}
.footer__button {
    list-style: none;
    border: none;
    inline-size: 50px;
    background-color: transparent;
    cursor: pointer;
}

.footer__icon {
    inline-size: 50px;
    object-fit: cover;
    transition: transform 0.5s;
}

.footer__icon:hover {
    transform: scale(1.5);
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
}

.footer__copyright {
    font-weight: 400px;
}
